<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="cursor: pointer" (click)="onHomePage()" class="navbar-brand">
        <img class="logo" src="assets/home.webp" alt="logo" width="40" height="40">
        <p class="name">PickMePetShelter</p>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#"><p class="petlist">Pet List</p></a></li>
        <li><a href="#"><p class="volunteer">Volunteer</p></a></li>
        <li><a href="#"><p class="donate">Donate</p></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">
            <img src="assets/user.png" alt="user" width="27" height="27">  Log In
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><p class="manage">Manage Forms</p></a></li>
            <li><a href="#"><p class="updatelist">Update Pet List</p></a></li>
            <li><a href="#"><p class="adoption">Adoption</p> </a></li>
            <li><a href="#"><p class="logout">Log out</p></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


