<div style="display:inline-block; max-width: 315px; margin: 5px">
  <p-card header="{{pet.name}}, {{age}} years">
    <ng-template pTemplate="header">
      <img
        [src]="pet.photoURL"
        alt="{{ pet.name }}"
        class="img-responsive"
        style="max-height: 150px; width: auto;">
    </ng-template>
    <div>{{pet.breed }}</div>
    <div>{{pet.description}}</div>
    <ng-template pTemplate="footer">
        <button
          style="font-size: 13px; width: 80px"
          pButton
          class="p-button-success p-button-rounded"
          label="Adopt Me!"
          (click)="onAdoptMe()"
        ></button>
        <button
          (click)="onHandleDetails()"
          style="font-size: 13px; width: 80px;"
          pButton
          class="p-button-info p-button-rounded pull-right"
          label="Details"></button>
    </ng-template>
    <app-pet-details
      *ngIf="showDetails"
      [pet]="pet"
      (closeDetails)="onHandleDetails()"
    ></app-pet-details>
  </p-card>
</div>

