<div *ngIf="showUpdateMode">
  <app-pet-edit
    [pet]="pet"
  (closeUpdate)="onHandleUpdateMode()"
  ></app-pet-edit>
</div>
<div *ngIf="showDetails">
  <app-pet-details
    [pet]="pet"
    (closeDetails)="onHandleDetails()"
  ></app-pet-details>
</div>
<div style="display:inline-block; max-width: 315px; margin: 5px">
  <p-card header="{{pet.name}}, {{age}} years">
    <ng-template pTemplate="header">
      <img
        [src]="pet.photoURL"
        alt="{{ pet.name }}"
        class="img-responsive"
        style="max-height: 150px; width: auto;">
    </ng-template>
    <div>{{pet.breed }}</div>
    <div>{{pet.description}}</div>
    <ng-template pTemplate="footer">
      <div *ngIf="!editMode">
        <button
          style="font-size: 13px; width: 80px"
          pButton
          class="p-button-success p-button-rounded"
          label="Adopt Me!"
          (click)="onAdoptMe()"
        ></button>
        <button
          (click)="onHandleDetails()"
          style="font-size: 13px; width: 80px;"
          pButton
          class="p-button-info p-button-rounded pull-right"
          label="Details"
        ></button>
      </div>
      <div *ngIf="editMode">
        <button
          style="font-size: 13px; width: 80px"
          pButton
          class="p-button-danger p-button-rounded"
          icon="pi pi-trash"
          label="Delete"
          (click)="onDelete()"
        ></button>
        <button
          style="font-size: 13px; width: 80px;"
          pButton
          icon="pi pi-pencil"
          class="p-button-info p-button-rounded pull-right"
          label="Edit"
          (click)="onHandleUpdateMode()"
        ></button>
      </div>

    </ng-template>
  </p-card>
</div>

