<div style="margin-top: 10px; text-align: left">
  <p-panel styleClass="p-shadow-6" [style]="{margin: '5px'}" [toggleable]="true">
    <ng-template pTemplate="header">
      <h2 style="display: inline-block"><b>{{volunteerForm.firstName}} {{volunteerForm.lastName}}</b></h2>

    </ng-template>
    <ng-template pTemplate="icons">
      <button
        id="clear"
        *ngIf="volunteerForm.rejected === true"
        (click)="onClear()"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-plain p-button-text"></button>
      <p-tag
        id="quit"
        *ngIf="volunteerForm.accepted === true"
        [style]="{fontSize: '12px', cursor: 'pointer', width: '50px'}"
        (click)="onClear()"
        styleClass="p-mr-2"
        severity="danger"
        value="Quit"
        [rounded]="true">
      </p-tag>
      <p-tag
        *ngIf="volunteerForm.accepted === false && volunteerForm.rejected === false"
        [style]="{fontSize: '12px'}"
        styleClass="p-mr-2"
        value="Pending"
        [rounded]="true">
      </p-tag>
      <p-tag
        *ngIf="volunteerForm.accepted === true"
        [style]="{fontSize: '12px'}"
        styleClass="p-mr-2"
        severity="success"
        value="Accepted"
        [rounded]="true">
      </p-tag>
      <p-tag
        *ngIf="volunteerForm.rejected === true"
        [style]="{fontSize: '12px'}"
        styleClass="p-mr-2"
        severity="danger"
        value="Rejected"
        [rounded]="true">
      </p-tag>
    </ng-template>
    <img
      [src]="userPhoto"
      class="img-responsive "
      style="max-height: 100px; max-width: 100%; display: inline-block; margin-right: 20px; "
      alt="userPhoto"
    >
    <div style="display: inline-block">
      <h5>Phone Number: {{volunteerForm.phoneNumber}}.</h5>
      <h5>Address: {{volunteerForm.state}}, {{volunteerForm.city}}, {{volunteerForm.address}}</h5>
      <h5>Work Program: {{volunteerForm.workDays}}</h5>
    </div>
  </p-panel>
</div>
