<div class="row">
  <div style="text-align: center">
    <form #f="ngForm" (ngSubmit)="onSignUp(f)">
      <div class="row">
        <div class="col-xs-12">
          <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px; text-align: left">E-Mail: </label>
            <div class="p-col-fixed">
              <input
                style="width: 145px;"
                pInputText
                type="email"
                id="email"
                ngModel
                name="email"
                required
                email>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="p-field p-grid">
            <label for="password" class="p-col-fixed" style="width:100px; text-align: left">Password: </label>
            <div class="p-col-fixed">
              <p-password
                [toggleMask]="true"
                id="password"
                ngModel
                style="padding: 200px"
                name="password"
                required
                minlength="6"
              ></p-password>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="p-field p-grid">
            <label for="displayName" class="p-col-fixed" style="width:100px; text-align: left;">Name:</label>
            <div class="p-col-fixed">
              <input
                style="width:145px"
                pInputText
                type = "text"
                id = "displayName"
                name= "displayName"
                ngModel
                required
                >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="margin-top: 10px; margin-bottom: 5px">
          <button
            pButton
            class="p-button-rounded"
            type="submit"
            [disabled]="!f.valid"> SignUp
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

