<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.24698" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.24698" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.24698">
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/payment/payment_feature.css?3.3.24698">
<style type="text/css">
  .form-label-left{
    width:50px;
  }
  .form-line{
    padding-top:12px;
    padding-bottom:12px;
  }

  .form-all{
    width:690px;
    color:#555 !important;
    font-family:'Metrophobic',sans-serif;
    font-size:16px;
  }

</style>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="jotform-form" action="https://submit.jotformeu.com/submit/211033740874350/" method="post" name="form_211033740874350" id="211033740874350" accept-charset="utf-8" autocomplete="on">
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_5" class="form-input-wide">
        <div style="display:table;width:100%">
          <div class="form-header-group hasImage header-default" data-imagealign="Left">
            <div class="header-logo">
              <img src="https://www.jotform.com/uploads/EltonCris/form_files/Untitled-1.5d81f18a525af2.80752776.png" alt="" width="120" class="header-logo-left">
            </div>
            <div class="header-text httac htvam">
              <h2 id="header_5" class="form-header" data-component="header">
                Volunteer Recruitment
              </h2>
              <div id="subHeader_5" class="form-subHeader">
                Fill in the form below to volunteer to our organization
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" id="id_9">
        <label class="form-label form-label-left form-label-auto" id="label_9" for="first_9">
          Name
          <span class="form-required">
          </span>
        </label>
        <div id="cid_9" class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <input ngModel type="text" id="first_9" name="firstName" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_9 sublabel_9_first" required="">
              <label class="form-sub-label" for="first_9" id="sublabel_9_first" style="min-height:13px" aria-hidden="false"> First Name </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <input ngModel type="text" id="last_9" name="lastName" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_9 sublabel_9_last" required="">
              <label class="form-sub-label" for="last_9" id="sublabel_9_last" style="min-height:13px" aria-hidden="false"> Last Name </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" id="id_11">
        <label class="form-label form-label-left form-label-auto" id="label_11"> Phone Number </label>
        <div id="cid_11" class="form-input">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="phone">
              <input required ngModel type="tel" id="input_11_phone" name="phoneNumber" class="form-textbox" value="" data-component="phone" aria-labelledby="label_11 sublabel_11_phone">
              <label class="form-sub-label" for="input_11_phone" id="sublabel_11_phone" style="min-height:13px" aria-hidden="false"> Phone Number </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" id="id_12" data-compound-hint=",,,,,">
        <label class="form-label form-label-left form-label-auto" id="label_12" for="input_12_addr_line1"> Address </label>
        <div id="cid_12" class="form-input">
          <div class="form-address-table jsTest-addressField">
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
              <span class="form-address-line form-address-street-line jsTest-address-lineField">
                <span class="form-sub-label-container" style="vertical-align:top">
                  <input required ngModel type="text" id="input_12_addr_line1" name="address" class="form-textbox form-address-line" value="" data-component="address_line_1" aria-labelledby="label_12 sublabel_12_addr_line1" />
                  <label class="form-sub-label" for="input_12_addr_line1" id="sublabel_12_addr_line1" style="min-height:13px" aria-hidden="false"> Street Address </label>
                </span>
              </span>
            </div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
              <span class="form-address-line form-address-city-line jsTest-address-lineField ">
                <span class="form-sub-label-container" style="vertical-align:top">
                  <input required ngModel type="text" id="input_12_city" name="city" class="form-textbox form-address-city" value="" data-component="city" aria-labelledby="label_12 sublabel_12_city" />
                  <label class="form-sub-label" for="input_12_city" id="sublabel_12_city" style="min-height:13px" aria-hidden="false"> City </label>
                </span>
              </span>
              <span class="form-address-line form-address-state-line jsTest-address-lineField ">
                <span class="form-sub-label-container" style="vertical-align:top">
                  <input required ngModel type="text" id="input_12_state" name="state" class="form-textbox form-address-state" value="" data-component="state" aria-labelledby="label_12 sublabel_12_state" />
                  <label class="form-sub-label" for="input_12_state" id="sublabel_12_state" style="min-height:13px" aria-hidden="false"> State / Province </label>
                </span>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" id="id_13">
        <label class="form-label form-label-left form-label-auto" id="label_13"> Which days of the week do you want to work? </label>
        <div id="cid_13" class="form-input">
          <div class="form-single-column" role="group" aria-labelledby="label_13" data-component="checkbox">
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngModel type="checkbox" class="form-checkbox" id="input_13_0" name="monday" value="Monday">
              <label id="label_input_13_0" for="input_13_0"> Monday </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngModel type="checkbox" class="form-checkbox" id="input_13_1" name="tuesday" value="Tuesday">
              <label id="label_input_13_1" for="input_13_1"> Tuesday </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngModel type="checkbox" class="form-checkbox" id="input_13_2" name="wednesday" value="Wednesday">
              <label id="label_input_13_2" for="input_13_2"> Wednesday </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngModel type="checkbox" class="form-checkbox" id="input_13_3" name="thursday" value="Thursday">
              <label id="label_input_13_3" for="input_13_3"> Thursday </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngModel type="checkbox" class="form-checkbox" id="input_13_4" name="friday" value="Friday">
              <label id="label_input_13_4" for="input_13_4"> Friday </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="text-align:center" data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
            <button [disabled]="!f.valid" id="input_2" type="submit" class="form-submit-button form-submit-button-none submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
              RECRUTE ME
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <label>
          <input type="text" name="website" value="">
        </label>
      </li>
    </ul>
  </div>
</form>
