
.form-line{
  padding-top:12px;
  padding-bottom:12px;
}

.form-all{
  width:690px;
  color:#555 !important;
  font-family:'Metrophobic',sans-serif;
  font-size:16px;
  position: center;
}

.form-all:after {
  content: "";
  display: table;
  clear: both;
}

.form-label-left,
.form-label-right {
  width: 150px;
}

.form-label {
  white-space: normal;
  font-weight: normal;
  font-size: 0.95em;
}

.form-label.form-label-auto {
  display: inline-block;
  float: left;
  text-align: left;
  width: 150px;
}
.form-label-left {
  display: inline-block;
  white-space: normal;
  float: left;
  text-align: left;
  width:50px;
}

.form-label-right {
  display: inline-block;
  white-space: normal;
  float: left;
  text-align: right;
}

.form-label-top {
  white-space: normal;
  display: block;
  float: none;
  text-align: left;
}

.form-radio-item label:before {
  top: 0;
}

.supernova {
  background-color: #29abe2;
}
.supernova body {
  background-color: transparent;
}

@media screen and (max-width: 480px) {
  .jotform-form .form-all {
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .jotform-form .form-all {
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .jotform-form {
    padding: 60px 0;
  }
}

@media screen and (max-width: 689px) {
  .jotform-form .form-all {
    margin: 0;
    width: 100%;
  }
}

/* omer */
.form-radio-item,
.form-checkbox-item {
  padding-bottom: 0 !important;
}
.form-radio-item:last-child,
.form-checkbox-item:last-child {
  padding-bottom: 0;
}
/* omer */
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
  width: 100%;
}
.form-checkbox-item .editor-container div,
.form-radio-item .editor-container div {
  position: relative;
}
.form-checkbox-item .editor-container div:before,
.form-radio-item .editor-container div:before {
  display: inline-block;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  width: 18px;
  height: 18px;
}
.supernova {
  height: 100%;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.supernova {
  background-image: none;
}
#stage {
  background-image: none;
}
/* | */
.form-all {
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}
.form-line {
  margin-top: 0;
  margin-bottom: 0;
}
.form-line {
  padding: 12px 36px;
}
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.form-all .form-sub-label {
  margin-left: 3px;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  padding: 9px 15px;
  font-family: "Metrophobic", sans-serif;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid #151515 !important;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  color: #ffffff !important;
  background: #151515;
  box-shadow: none;
  text-shadow: none;
}

.form-header-group .form-header,
.form-header-group .form-subHeader {
  color: #ffffff;
}
.form-header-group {
  background-color: #29abe2;
  border-bottom: none;
}
.form-textbox,
.form-textarea {
  padding: 4px 3px 2px 3px;
}
.form-dropdown {
  -webkit-appearance: menulist-button;
  border-color: #cccccc;
}

.form-line-column {
  width: auto;
}

.form-line {
  box-sizing : border-box;
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  width : 100%;
  background : #FFF !important;
}
