<p-button
  label="Open Filters"
  type="button"
  (click)="visibleSidebar1 = true"
  class="p-button-rounded"
  icon="pi pi-arrow-right" [style]="{fontSize: '13px', marginBottom: '5px'}"></p-button>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
<div class="container-fluid">
  <p style="margin-top: 30px">PET NAME</p>
  <label>
    <input [(ngModel)]="filteredName" (ngModelChange)="onCheckBoxPress()" style="width: 155px; margin-bottom: 7px">
  </label>
<section class="example-section" style=" font-family: Arial,serif;">
  <p>AGE</p>
  <div>
   <label>
      <input id="age_0" [(ngModel)]="ageBox[0]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> 0-1 Y
    </label><br>
    <label>
      <input id="age_1" [(ngModel)]="ageBox[1]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> 1-2 Y
    </label><br>
    <label>
      <input id="age_2" [(ngModel)]="ageBox[2]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> 2-3 Y
    </label><br>
    <label>
      <input id="age_3" [(ngModel)]="ageBox[3]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> 3+ Y
    </label><br>
  </div>
  <p>BREED</p>
  <div>
  <label>
    <input id="breed_0" [(ngModel)]="breedBox[0]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> Dog
  </label><br>
  <label>
    <input id="breed_1" [(ngModel)]="breedBox[1]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> Cat
  </label><br>
  <label>
    <input id="breed_2" [(ngModel)]="breedBox[2]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> Parrot
  </label><br>
  <label>
    <input id="breed_3" [(ngModel)]="breedBox[3]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> Fish
  </label><br>
  <label>
    <input id="breed_4" [(ngModel)]="breedBox[4]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> Rabbit
  </label><br>
  </div>
  <p>GENDER</p>
  <div>
   <label>
    <input id="male" [(ngModel)]="genderBox[0]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> Male
   </label><br>
   <label>
    <input id="female" [(ngModel)]="genderBox[1]" (ngModelChange)="onCheckBoxPress()" type="checkbox" class="example-margin"> Female
   </label><br>
  </div>
</section>
</div>
</p-sidebar>


