<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.24927" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.24927" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?"/>
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/payment/payment_feature.css?3.3.24927" />

<p-messages></p-messages>
<form #f="ngForm" (ngSubmit)="onSubmit(f)"
      action="https://submit.jotformeu.com/submit/211095034145345/" autocomplete="on" class="jotform-form"
      id="211095034145345" method="post" name="form_211095034145345">
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <div class="form-header-group  header-large">
        <div class="header-text httal htvam">
          <h1 id="header_1" class="form-header" data-component="header">
            PICK ME PET SHELTER
          </h1>
          <div id="subHeader_1" class="form-subHeader">
            DONATION FORM
          </div>
        </div>
      </div>
      <li class="form-line">
        <label class="form-label form-label-top form-label-auto" id="label_3" for="first_3"> Full Name </label>
        <div id="cid_3" class="form-input-wide">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <input ngForm required type="text" id="first_3" name="q3_fullName[first]" class="form-textbox" size="10" value="" placeholder="First Name" data-component="first" aria-labelledby="label_3" />
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <label for="last_3"></label><input ngForm required type="text" id="last_3" name="q3_fullName[last]" class="form-textbox" size="15" value="" placeholder="Last Name" data-component="last" aria-labelledby="label_3" />
            </span>
          </div>
        </div>
      </li>
      <li class="form-line">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> E- mail </label>
        <div id="cid_4" class="form-input-wide">
          <input ngForm required type="email" id="input_4" name="q4_eMail" class="form-textbox validate[Email]" size="30" value="" placeholder="example@example.com" data-component="email" aria-labelledby="label_4" />
        </div>
      </li>
      <li class="form-line" id="id_5">
        <label class="form-label form-label-top form-label-auto" id="label_5"> Donation amount </label>
        <div id="cid_5" class="form-input-wide">
          <div class="form-single-column" role="group" aria-labelledby="label_5" data-component="radio">
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_0" name="q5_donationAmount" value="10" />
              <label id="label_input_5_0" for="input_5_0"> 10 Lei </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_1" name="q5_donationAmount" value="25" />
              <label id="label_input_5_1" for="input_5_1"> 25 Lei</label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_2" name="q5_donationAmount" value="50" />
              <label id="label_input_5_2" for="input_5_2"> 50 Lei </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_3" name="q5_donationAmount" value="100" />
              <label id="label_input_5_3" for="input_5_3"> 100 Lei </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" id="id_6">
        <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> Comments </label>
        <div id="cid_6" class="form-input-wide">
          <textarea id="input_6" class="form-textarea" name="q6_comments" cols="70" rows="6" data-component="textarea" aria-labelledby="label_6"></textarea>
        </div>
      </li>
      <li class="form-line">
        <div id="cid_2" class="form-input-wide">
          <div style="margin-left:156px" data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
            <button [disabled]="!f.valid" id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
              SUBMIT
            </button>
          </div>
        </div>
    </ul>
  </div>
</form>
