<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.24927" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.24927" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.24927" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?"/>
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/payment/payment_feature.css?3.3.24927" />

<style type="text/css">
  .form-line{
    padding-top:12px;
    padding-bottom:12px;
  }

  .form-all{
    width:690px;
    color:#555 !important;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    font-size:14px;
  }
</style>

<style type="text/css" id="form-designer-style">
</style>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="jotform-form" action="https://submit.jotformeu.com/submit/211095034145345/" method="post" name="form_211095034145345" id="211095034145345" accept-charset="utf-8" autocomplete="on">
  <input type="hidden" name="formID" value="211095034145345" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httal htvam">
            <h1 id="header_1" class="form-header" data-component="header">
              ANIMAL SHELTER
            </h1>
            <div id="subHeader_1" class="form-subHeader">
              DONATION FORM
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_3" data-compound-hint="First Name,Last Name">
        <label class="form-label form-label-top form-label-auto" id="label_3" for="first_3"> Full Name </label>
        <div id="cid_3" class="form-input-wide">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <input ngForm required type="text" id="first_3" name="q3_fullName[first]" class="form-textbox" size="10" value="" placeholder="First Name" data-component="first" aria-labelledby="label_3" />
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <input ngForm required type="text" id="last_3" name="q3_fullName[last]" class="form-textbox" size="15" value="" placeholder="Last Name" data-component="last" aria-labelledby="label_3" />
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_email" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> E- mail </label>
        <div id="cid_4" class="form-input-wide">
          <input ngForm required type="email" id="input_4" name="q4_eMail" class="form-textbox validate[Email]" size="30" value="" placeholder="example@example.com" data-component="email" aria-labelledby="label_4" />
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_5">
        <label class="form-label form-label-top form-label-auto" id="label_5"> Donation amount </label>
        <div id="cid_5" class="form-input-wide">
          <div class="form-single-column" role="group" aria-labelledby="label_5" data-component="radio">
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_0" name="q5_donationAmount" value="$10" />
              <label id="label_input_5_0" for="input_5_0"> $10 </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_1" name="q5_donationAmount" value="$25" />
              <label id="label_input_5_1" for="input_5_1"> $25 </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_2" name="q5_donationAmount" value="$50" />
              <label id="label_input_5_2" for="input_5_2"> $50 </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input ngForm required type="radio" class="form-radio" id="input_5_3" name="q5_donationAmount" value="$100" />
              <label id="label_input_5_3" for="input_5_3"> $100 </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_6">
        <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> Comments </label>
        <div id="cid_6" class="form-input-wide">
          <textarea id="input_6" class="form-textarea" name="q6_comments" cols="70" rows="6" data-component="textarea" aria-labelledby="label_6"></textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_7">
        <label class="form-label form-label-top form-label-auto" id="label_7"> Do you want to be included is the mailing list? </label>
        <div id="cid_7" class="form-input-wide">
          <div class="form-single-column" role="group" aria-labelledby="label_7" data-component="radio">
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio" id="input_7_0" name="q7_doYou" value="Yes" />
              <label id="label_input_7_0" for="input_7_0"> Yes </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio" id="input_7_1" name="q7_doYou" value="No" />
              <label id="label_input_7_1" for="input_7_1"> No </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="margin-left:156px" data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
            <button [disabled]="!f.valid" id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
              SUBMIT
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" >
      </li>
    </ul>
  </div>
</form>
