<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
      <form #f="ngForm" (ngSubmit)="onLogIn(f)">
        <div class="row">
          <div class="col-xs-12">
            <div class="p-field p-grid">
              <label
                for="email"
                class="p-col-fixed"
                style="width:100px;"
              >E-Mail: </label>
              <div class="p-col-fixed">
                <input
                  style="width:145px"
                  pInputText
                  type="email"
                  id="email"
                  ngModel
                  name="email"
                  required
                  email>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="p-field p-grid">
              <label
                for="password"
                class="p-col-fixed"
                style="width:100px;"
              >Password: </label>
              <div class="p-col-fixed">
                <p-password
                  [toggleMask]="true"
                  id="password"
                  ngModel
                  name="password"
                  required
                  minlength="6"
                ></p-password>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div style="margin-top: 10px; margin-bottom: 5px; text-align: center">
            <button
              pButton
              class="p-button-rounded"
              type="submit"
              [disabled]="!f.valid"
              label="Login">
            </button>
          </div>
        </div>
      </form>
  </div>
</div>

